@* @page *@
@model WEB_253501_LAVRIV.Areas.Admin.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Detail</h4>
    <hr />
    <dl class="row">
@*         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Detail.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Detail.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Detail.Description)
        </dt> *@
@*         <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Detail.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Detail.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Detail.Category.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Detail.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Detail.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Detail.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Detail.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Detail.MimeType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Detail.MimeType)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Detail.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a> *@
</div>
